In [14]:
import pandas as pd

In [23]:
data = pd.read_csv('TestExcel.csv')

In [27]:
data

  Letter  Weeks  Days
0      A      1    10
1      B      2    15
2      C      3    12
3      D      4    13
4      E      5    14
5      F      6    15
6      G      7    16
7      H      8    17
8      I      9    18

In [25]:
print('The Mean for days is ', data['Days'].mean())
print('The Mean for weeks is ', data['Weeks'].mean())

The Mean for days is  14.444444444444445
The Mean for weeks is  5.0

In [26]:
print('The Median for days is ', data['Days'].median())
print('The Median for weeks is ', data['Weeks'].median())

The Median for days is  15.0
The Median for weeks is  5.0

In [34]:
print('The Mode for days is ', data['Days'].mode())
print('The Mode for weeks is ', data['Weeks'].mode())

The Mode for days is  0    15
dtype: int64
The Mode for weeks is  0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64